# Connection String
ConnectionStrings__DefaultConnection="Server=MSI;Database=csdl_phone;Trusted_Connection=True;TrustServerCertificate=True"

# JWT Settings
Jwt__Key="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNzE0MjM1MDU1fQ.uWbH5F4c7_n3Zk1wV9G8Yp0_P2W-7-Y7c3f0qL6wS1o"
Jwt__Issuer="https://localhost:5001"
Jwt__Audience="https://localhost:5001"

# Cloudinary
CloudUpload__CloudName="daz0oicfs"
CloudUpload__ApiKey="831431674716881"
CloudUpload__ApiSecret="Y7aVvIlgOWQOjgtgZK9IuoB2pM8"

# Email Settings
EmailSettings__Host="smtp.gmail.com"
EmailSettings__Port="587"
EmailSettings__Username="appleofcz@gmail.com"
EmailSettings__Password="fyumkrjhuahoycvv"
EmailSettings__FromEmail="appleofcz@gmail.com"

# Stripe
Stripe__SecretKey="sk_test_51Ti7A0IbgqJug9IiAJ6K7fCiisMBhrfLpKuspzTV75pp8toehukBxjmamexBfwlmraml6XDsXNrVXCzWYeiRHUae00MPiXhTHn"
Stripe__PublishableKey="pk_test_51Ti7A0IbgqJug9IikT31kr8k3qW8KHEkyB5z1bt1TY5YjWTWxDV8y3DYiCfi2NuPwNi0IAbiMxB3wC2c8yzhJZII00WWa2JJeU"

# Google OAuth
Google__ClientId="702529174883-7gnv2355k8rgig2cpuvq4fkus3c6b716.apps.googleusercontent.com"

# Ahamove Integration
Ahamove__ApiKey="dfa442f70d4a7c179b2a58e8b274ddfe2164a1f4"
Ahamove__Mobile="84797200168"
Ahamove__BaseUrl="https://apistg.ahamove.com"
Ahamove__WarehouseAddress="180 Cao Lỗ, Phường 4, Quận 8, Hồ Chí Minh"
Ahamove__WarehouseLat=10.7379415
Ahamove__WarehouseLng=106.6757237
